@font-face {
  font-family: TitleFont;
  src: url("fonts/Alegreya Sans 900.ttf"); }
@font-face {
  font-family: TaglineFont;
  src: url("fonts/Alegreya Sans 500.ttf"); }
html, body {
  height: 100%;
  overflow: auto; }

.overall_container {
  height: 100%;
  background-color: #8C6954;
  overflow: auto; }

.landing_mascot {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.landing_title {
  padding-top: 1rem;
  font-size: 3em;
  text-align: center;
  margin-bottom: 0;
  color: #260126;
  font-family: 'TitleFont'; }
  @media screen and (min-width: 480px) {
    .landing_title {
      font-size: 6em;
      margin-top: 1rem; } }

.landing_tagline {
  font-size: 2em;
  text-align: center;
  color: #260126;
  font-family: 'TaglineFont'; }
  @media screen and (min-width: 480px) {
    .landing_tagline {
      font-size: 4em; } }

.landing_description {
  font-size: 1.5em;
  padding-top: 1rem;
  text-align: center;
  color: #260126;
  font-family: 'TaglineFont'; }
  @media screen and (min-width: 480px) {
    .landing_description {
      font-size: 4em; } }

a.landing_link {
  font-family: 'TaglineFont';
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 1.6em;
  padding-left: 0;
  padding-right: 0;
  cursor: pointer;
  color: #260126; }
  @media screen and (min-width: 480px) {
    a.landing_link {
      margin-top: 0;
      font-size: 3em; } }

.landing_phone_mobile {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.landing_phone_desktop {
  font-size: 8rem;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  margin-top: 8rem;
  margin-bottom: 4rem; }

.landing_download_button {
  font-size: 1.8em;
  color: #8C6954;
  font-family: 'TitleFont';
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 2.5em;
  padding: 0em 1em;
  border-radius: 19px;
  background-color: #260126;
  border: none;
  margin-bottom: 1em;
  outline: none;
  line-height: 2.5em;
  text-align: center;
  cursor: pointer; }
  .landing_download_button:hover {
    color: #CD8B34;
    background-color: #531E11; }
  @media screen and (min-width: 480px) {
    .landing_download_button {
      font-size: 3em;
      width: 12em; } }
  @media screen and (max-width: 480px) {
    .landing_download_button {
      width: 90%; } }

.about_mascot {
  margin-top: 1em;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 480px) {
    .about_mascot {
      margin-top: 6rem; } }

.about_title {
  font-size: 6em;
  margin-top: .5rem;
  text-align: left;
  font-size: 3em;
  text-align: center;
  margin-bottom: 0;
  color: #260126;
  font-family: 'TitleFont';
  display: block; }
  @media screen and (min-width: 480px) {
    .about_title {
      margin-top: 2rem; } }

a.about_link {
  font-family: 'TaglineFont';
  text-align: center;
  font-size: 1.6em;
  padding-left: 0;
  padding-right: 0;
  cursor: pointer;
  color: #260126; }
  @media screen and (min-width: 480px) {
    a.about_link {
      margin-top: 1rem; } }

.about_description {
  margin-top: 2rem;
  text-align: left;
  font-size: 1.4em;
  margin-bottom: 1em;
  color: #443133;
  font-family: 'TitleFont'; }

.desktop-only {
  display: block; }

.mobile-only {
  display: none; }

@media screen and (max-width: 480px) {
  .desktop-only {
    display: none; }

  .mobile-only {
    display: block; } }
/*Delete the stuff below soon.*/
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em; }

.menu:before {
  content: "["; }

.menu:after {
  content: "]"; }

.menu > li {
  display: inline; }

.menu > li:before {
  content: "|";
  padding-right: 0.3em; }

.menu > li:nth-child(1):before {
  content: "";
  padding: 0; }

/*# sourceMappingURL=app.css.map */
